spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/s_card_recall_test
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  storage:
    path: uploads

server:
  port: 8000